
body{
    background-color:rgb(255, 255, 255) ;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

   padding: 30px;
}
h1{
   
   text-align: center;
}
button:hover{
    cursor: pointer;
}
input{
    
    font-size: 15px;
    padding: 8px 15px;
    
    border-radius: 5%;
    border: 1px solid rgb(168, 200, 241); 
}
table thead tr th{ 
   
    background-color: rgb(168, 200, 241); ;
   color: rgb(255, 255, 255);
   

}
tbody tr:nth-child(even){ background-color: rgb(255, 255, 255);}
tbody tr:nth-child(odd){background-color: rgb(214, 231, 252); }
td,th{
     padding: 14px;
    font-size: 20px;
    border: 1px solid rgb(133, 158, 173);
    text-align: center;
}
#searchTask{
   display: inline-block;

}
button{
    padding: 8px 20px;
    color: black;
   font-weight: 700;
    font-size: 15px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 10px;
    
}
button:hover{
    border: 1px solid black;
}
.add{
    background-color: rgb(206, 222, 247);
}
.delete{
    background-color: rgb(253, 177, 177);
}
.done{
    background-color: rgb(202, 253, 202);
}
table{
    border-collapse: collapse;
}
.scrollTasks{
    height: 350px;
    
    overflow-y: auto;
}
.complete{
   
    text-decoration-line: line-through;
    text-decoration-color: rgb(25, 29, 25);
}
#theadd{
    position: sticky;
    top: 0;
}
table{
    width: 100%;
     table-layout: fixed;  
     border-collapse: separate;
}
tfoot{
    position: sticky;
    bottom: 0;
    background-color: rgb(202, 225, 253);;
    color: rgb(0, 0, 0);
}